<%= form_tag "/contacts/search" , method: :post do %>
  <input type="text" class="form-control" placeholder="search by first or last name" name="search_name">
  <input class="btn btn-default" type="submit" value="Search">
<% end %>
<h1>All contacts</h1>
<% @contacts.each do |contact| %>
  <p>--------------------</p>
  <h2> <a href="/contacts/<%= contact.id %>"> <%= contact.last_name %>, <%= contact.first_name %></a></h2>
  <h5>Email: <%= contact.email %></h5>
  <h6>Phone number: <%= contact.phone_number %></h6>
<% end %>